body{
    margin: 0;
    padding: 0;
    background-color:rgb(6, 230, 174);
    justify-content: center;
    font: normal 12pt arial;
}
.container{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 430px;
    padding: 20px;
    text-align: center;
    background: white;
    border-radius: 10px;
    height: 250px;
    width: 450px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.137);
}